$color-main: #ffe926;
$color-secondary: #333;
$color-pink: #ff6a9c;
$color-pink-light: #ff7da6;
$color-dark: #404040;
$color-grey: #f7f7f7;


$font-display: 'EB Garamond';


$bp-sm: 599px;
$bp-md: 750px;

