$color-main: rgb(240, 194, 41);
$color-main-darker: rgb(226, 155, 0);
$color-secondary: #1a3745;
$color-secondary-darker: #1a3745;
$color-dark: #333;
$color-grey: #ccc;



$bp-sm: 599px;
$bp-md: 750px;