html {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  padding: 0 10px;
  color: white;
  background-color: rgb(230, 141, 178);
  min-width: 480px;
}

.logo {
  padding: 1rem;
  margin-right: auto;
}

.nav-items:nth-child(2),
.nav-items:nth-child(3) {
  cursor: pointer;
  position: relative;
}

.nav-items:nth-child(2):hover .dropdown,
.nav-items:nth-child(3):hover .dropdown {
  display: block;
}

.dropdown {
  background-color: #fff;
  border: 1px solid #aaa;
  box-shadow: 0 2px 4px  rgba(0,0,0,.1);
  border-radius: 3px;
  position: absolute;
  display: none;
  top: 100%;
  z-index: 1;
}

.dropdown-item {
  padding: .75rem 1.5rem;
  color: black;

  &:hover {
    background-color: #eee;
  }
}

.nav-items {
  display: inline-block;
  padding: 1rem;
}

.form {
  max-width: 500px; 
  margin: 0 auto;
  margin-top: 3rem;

  &-title {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &-input {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &-email-input {
    font-family: inherit;
    font-size: .9rem;
    min-width: 200px;
    padding: .5rem;
    margin-right: .5rem;

    &:focus {
      outline: none;
      border-color: #000;

    }

    &::placeholder {
      color: #aaa;
    }
  }

  &-btn {
    font-family: inherit;
    font-size: .8rem;
    text-transform: uppercase;
    background-color: #222;
    color: white;
    border: none;
    padding: 1rem 2rem;
  }

  hr {
    margin: 0 auto;
    width: 100px;
    transition: ease-in .7s;
  }

  &:hover hr {
    width: 300px;
  }
}




.pattern {
  margin-top: 2rem;
  background-color: #e68db2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.15' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pattern-title .title {
  color: white;
  font-size: 2rem;
}

.pattern-title .sub-title {
  font-size: 2rem;
  color: rgb(247, 205, 239);
}


// --------------- SLIDER ----------------

.hero {
  position: relative;

  &-images {
    height: 400px;
  }
}

.hero-text {
  font-weight: lighter;
  position: absolute;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-title {
    font-weight: normal;
    font-size: 3rem;
  }

  &-subtitle {
    color: #ccc;
    margin-top: .2rem;
    font-size: 1.5rem;
  }
}


.arrow {
  cursor: pointer;
  font-size: 1.2rem;
  background: none;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: .5rem;
  margin: 0 2rem;
  transition: all .4s;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: white;
    color: #000;
  }
}

.btn-prev {
  left: 0;
}
.btn-next {
  right: 0;
}

.slider {
  background-position: 50% 55%;
  position: absolute;
  background-size: cover;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-repeat: no-repeat;
  transition: opacity .8s;

  &-1 {
    background-image: url('img/hero-img.jpg');
  }
  &-2 {
    background-image: url('img/hero-img-2.jpg');
  }
  &-3 {
    background-image: url('img/hero-img-3.jpg');
  }
}

.current {
  opacity: 1;
}

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

.svg-cloud {
  position: absolute;
  display: block;
  bottom: 0;
  margin-bottom: -1px;;
}