html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: 'Lato', sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  cursor: pointer;
}

// ICONS FONTS
.fas {
  font-size: .8rem;
  padding-bottom: .2rem;
}
.fa-caret-down {
  margin-left: 5px;
  vertical-align: middle;
}

::selection {
  background-color: $color-pink;
  color: $color-main;
}



// MOBILE SIDEBAR
//This is used to display sidebar menu on  mobile
body {
  transform: translateX(0px);
  transition: transform .7s;
  
}
//This is used to display sidebar menu on  mobile
body.active {
  transform: translateX(250px);
  overflow: hidden;
}

//TRANSITION IMAGES
.transition-box {
  @media screen and (min-width: $bp-lg) {
    animation: rotating 10s linear infinite;
  }
}
.transition-img {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -60px);

  &-2 {
    transform: translate(-50%, -60px) rotate(180deg);
  }
}