@keyframes logoAnimated {
  0% {
    color: $color-pink;
  }
  50% {
    color: $color-main;

  }
  100% {
    color: $color-pink;
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
}