/* 
WELCOME SECTION
INTRO SECTION
CTA SECTION
PRICING SECTION
PRODUCT SECTION
NEWSLETTER SECTION
 */

/* ------------ WELCOME SECTION ------------ */
.welcome {
  background-color: $color-grey;

  &__container {
    text-align: center;
    padding: 5rem 1rem 6rem ;
  }

  &__title {
    font-family: $font-display, sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
    color: #333;
    line-height: 3rem;
  }

  &__subtitle {
    color: transparent;
    -webkit-text-stroke-fill: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }

  &__text {
    font-weight: 300;
    line-height: 1.6rem;
    max-width: 750px;
  }
}


/* ------------ INTRO SECTION ------------ */
.intro {
  background-color: white;
  text-transform: none;
  padding: 3rem 0;
  padding-top: 6rem;

  &__container {
    padding: 0 1rem;
  }

  &__title {
    max-width: 400px;
  }

  &__subtitle {
    max-width: 600px;
  }

  &__list {
    text-align: center;
    margin-top: 1rem;
  }

  &__list-item {
    padding: .5rem 0;

    &::before {
      position: relative;
      content: '→';
      color: $color-secondary;
      margin-right: .5rem;
      transition: .5s;
    }
  }
}

/* ------------ CTA SECTION  ------------ */
.cta {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-pink-light;

  @media screen and (min-width: $bp-md) {
    flex-direction: row;
  }

  &__img {
    max-width: 100%;
    height: auto;
    min-height: 300px;
    background-image: url(../img/goat-1.jpg);
    background-size: cover;
    background-position: 50% 65%;
    background-repeat: no-repeat;

    @media screen and (min-width: $bp-md) {
      width: 60%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    padding: 2rem 1rem 2rem 1rem;

    @media screen and (min-width: $bp-md) {
      width: 50%;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: .2rem;
    margin-bottom: 1rem;
  }

  &__text {
    line-height: 1.6rem;
    max-width: 480px;
  }

  &__btn {
    color: $color-main;
    border: 2px solid $color-main;
    background-color: $color-pink-light;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 0;

    &:hover {
      color: $color-pink;
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &__transition {
   @media screen and (min-width: $bp-md) {
     position: absolute;
     top: 0;
     left: 0;
     transform: translateX(-100%);
     background-image: url(../img/color-transition.png);
     background-repeat: no-repeat;
     width: 227px;
     height: 100%;
    }
  }
}

 /* ------------ PRICING SECTION ------------ */
 .planos {
   padding-top: 3rem;
   padding-bottom: 5rem;
   background-color: $color-grey;
   height: auto;
 }

 .planos__container {
   margin: 0 1rem;
 }

 .planos__text {
   line-height: 1.6rem;
   margin-bottom: 2rem;
   text-align: center;
   max-width: 650px;
 }

 .pricing__container {
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;

   @media screen and (min-width: $bp-md) {
     flex-direction: row;
     max-width: 57.5rem;
   }
 }

 .pricing-card {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 25.75rem;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   border-radius: 6px;
   text-align: center;
   margin-bottom: 2rem;
   box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);

   &>.pricing-card__atributo {
     padding: 1rem .5rem;
     color: #7c7c7c;
     font-size: 1rem;
     font-weight: 300;

     &:last-of-type {
       margin-bottom: 1rem;
     }
   }

   &>p:not(:last-of-type) {
     width: 80%;
     border-bottom: 1px solid #eee;
     margin-left: auto;
     margin-right: auto;
   }

   @media screen and (min-width: $bp-md) {
     margin-top: 1rem;
     max-width: 16.5rem;
     border-radius: 4px;
     box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
     transition: transform .5s;

     &:hover {
       transform: scale(1.05);
     }

     &:not(:last-child) {
       margin-right: 3%;
     }
   }
 }

 .pricing-card__title {
   padding: 1rem .5rem;
   margin-bottom: .5rem;
   border-radius: 4px 4px 0 0;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 1.1rem;
   letter-spacing: 1px;
   color: $color-main;
   background-color: $color-pink;
 }

 .pricing-card__subtitle {
   color: $color-secondary;
   font-size: 2rem;
   text-transform: uppercase;
   font-weight: 400;
   padding: 1rem 0 .5rem;
 }

 .small {
   font-size: .9rem;
 }

 .pricing-card .btn {
   width: 80%;
   margin-right: auto;
   margin-left: auto;
   margin-top: auto;
 }

 /* ----------------- PRODUCTS SECTION ------------------- */
 .grid {
   width: 90%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   grid-gap: 1rem;
   margin: 1rem auto;
 }

 .products {
   padding: 3rem 0;
   padding-top: 6rem;
 }

 .products__text {
   max-width: 600px;
   margin-bottom: 3rem;
   text-align: center;
   padding: 0 1rem;
 }

 .product-card {
   padding: 1rem;
   padding-bottom: 0;
   text-align: center;
   border: 1px solid #ddd;
   border-radius: 4px;
 }

 .product-title {
   font-weight: 300;
 }

 .product-description {
   font-size: .9rem;
   width: 90%;
   color: rgb(124, 124, 124);
   font-weight: 300;
   margin-left: auto;
   margin-right: auto;
   margin-top: .5rem;
 }

 /* ------------ NEWSLETTER SECTION ------------ */
 .subscribe {
   padding: 1.5rem 0;
   background-color: $color-pink-light;
   @media screen and (min-width: $bp-lg) {
    padding: 3rem 0;
   }
 }

 .subscribe-form {
   position: relative;
   max-width: 500px;
   margin: 0 auto;
   padding: 0 1rem;
   padding-bottom: 1rem;
   text-align: center;
   @media screen and (min-width: $bp-lg) {
     padding-bottom: 0;
   }

   &__title {
     font-size: 2.5rem;
     padding: .2rem .5rem;
     display: inline-block;
     border: 2px solid $color-secondary;
     text-transform: uppercase;
     position: relative;
     font-family: $font-display;
     font-weight: 800;
     color: $color-secondary;
     margin-bottom: 1rem;

     @media screen and (min-width: $bp-lg) {
       position: absolute;
       font-size: 3.5rem;
       left: 0%;
       z-index: 1;
       top: 10%;
       transform: translateX(-70%) rotate(-30deg);
       animation: blink 2s infinite;
     }
   }

   &__content-box {
     display: flex;
   }

   &__subtitle {
     text-transform: uppercase;
     font-weight: 500;
     font-size: .9rem;
     color: white;
   }

   &__group {
     display: flex;
     justify-content: center;
     margin-bottom: 0;
     @media screen and (min-width: $bp-lg) {
      margin-bottom: 2rem;
     }
   }

   &__input {
     font-family: inherit;
     font-size: .9rem;
     padding: .5rem;
     border: 2px solid $color-pink-light;
     margin-right: .5rem;

     &:focus {
       outline: none;
       border-color: #000;

     }

     &::placeholder {
       color: #7c7c7c;
     }
   }

   &__hr {
     display: none;
     background-color: $color-main;
     margin-bottom: 0;
     transition: width .5s;
     @media screen and (min-width: $bp-lg) {
      display: block;
     }
   }

   &:hover .subscribe-form__hr {
     width: 300px;
     color: $color-main;
   }

   &__btn {
     font-family: inherit;
     font-size: .9rem;
     border-radius: 4px;
     font-weight: 500;
     text-transform: uppercase;
     background-color: $color-pink-light;
     color: $color-main;
     border: 2px solid $color-main;
     padding: 1rem 2rem;

     &:hover {
       cursor: pointer;
       color: $color-pink-light;
       border-color: $color-main;
       background-color: $color-main;
     }
   }
 }


 /* CONTACT FORM SECTION */
.contact {
  padding: 0 1rem;
  width: 100%;
  max-width: 900px;
  margin: 6rem auto;
  @media screen and (min-width: $bp-lg){
    display: flex;
    margin-top: 8rem;
    margin-bottom: 6rem;
  }

  &__text {
    text-align: center;
    margin: 0 auto;
    @media screen and (min-width: $bp-lg){
      text-align: left;
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: 800;
    color: $color-secondary;
  }

  &__subtitle {
    font-size: 2.5rem;
  }

  &__description {
    font-size: 1.1rem;
    color: #777;
    line-height: 1.6rem;
    width: 100%;
    max-width: 320px;
    margin: 1rem auto 0;
    @media screen and (min-width: $bp-lg){
    margin: 1rem 0 0;
    }
  }

  &__form {
    margin-top: 3rem;
    flex-grow: 1;
    @media screen and (min-width: $bp-lg){
      margin-top: 1rem;
      margin-left: 5rem;
    }
  }

  &__icons {
    font-size: 1.75rem;
    color: $color-pink;
    margin-top: 1rem;

    & i {
      cursor: pointer;
      padding-right: 1rem;
    }
  }

}

.form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  & input,
  & select,
  & textarea {
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;
    padding: .5rem;
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid #777;

    &:focus {
      outline: none;
      border: 1px solid $color-pink;
      &::placeholder {
        color: $color-pink;
      }
    }
  }

  & div {
    position: relative;
    & i {
      color: #333;
      position: absolute;
      font-size: 1rem;
      top: 50%;
      right: 10px;
      transform: translateY(-60%);
    }
  }

  & select {
    color: #777;
    height: 40px;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
  }

  & textarea {
    padding: .5rem 0 0 .5rem;
    font-size: 1rem;
    border: 1px solid #777;
    width: 100%;
  }

  & input[type=submit] {
    padding: .7rem;
  }
}


/* SECTION QUEM SOMOS */
.quem-somos {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0 1rem;
  padding-top: 5rem;
}

.sobre {
  max-width: 900px;
  display: block;
  position: relative;
  z-index: 5;
  padding-bottom: 6rem;
  @media screen and (min-width: 850px) {
    padding-left: 3rem;
  }
  @media screen and (min-width: $bp-lg) {
    padding-left: 10%;
  }

  &__title-box {
    order: 2;
    margin-bottom: .5rem;
  }

  &__title {
    font-size: 3rem;
    font-weight: 800;
    color: $color-secondary;
  }

  &__description-box {
    order: 1;
    max-width: 100%;
    @media screen and (min-width: 650px) {
      max-width: 500px;
    }
  }

  &__subtitle {
    font-size: 1.3rem;
    line-height: 2rem;
    max-width: 420px;
  }

  &__description {
    margin-top: 1rem;
    line-height: 1.6rem;
    color: #777;
    
  }

  &__img-box {
    @media screen and (min-width: $bp-md) {
      width: 100%;
    }
  }

  &__img {
    display: block;
    width: 100px;
    margin-left: .5rem;
    margin-bottom: 1rem;
    @media screen  and (min-width: 650px) {
      margin-left: 0;
      margin-bottom: 0;
      position: absolute;
      width: 500px;
      display: block;
      top: 0;
      right: 0;
      transform: rotateY(180deg) translate(-45%, 25%);
    }
    @media screen and (min-width: 850px) {
      width: 600px;
      transform: rotateY(180deg) translate(-35%, 25%);
    }
    @media screen and (min-width: $bp-lg) {
      width: 700px;
    }
    @media screen and (min-width: 1200px) {
      width: 900px;
      transform: translate(35%, -10%);
    }
  }

}